*
{
    margin: 0; padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
body, html
{
    overflow-x: hidden;
}
/* p
{
    text-align:;
} */
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
/* ============================= */
            /* Navbar */
/* ============================= */
.navbar
{
   position: absolute;
   top: 0;
   left: 0;
   display: flex; 
   width: 100%; 
   justify-content: space-between;
   padding: 20px;
   color: whitesmoke;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li
{
    margin: 0 20px;
}
.nav-links li a
{
    color: whitesmoke;
    font-size: large;
} /*if removed this links wouldn't ch
the color*/
.menu-btn
    {
       position: absolute; 
       top: 30px;
       right: 30px;
       cursor: pointer;
       display: none !important;
    }

.nav-links li.active a
{
    color: #fc036b !important;
    text-decoration: underline;
    font-weight: bold;
}/*if not written like this links wouldn't ch
the color*/

/* ============================= */
            /* Header */
/* ============================= */
header
{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1498598457418-36ef20772bb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-content
{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2
{
    font-size: 4vmin;
}

.line
{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1
{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn
{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}


/* ============================= */
            /* Events */
/* ============================= */
section
{
    width: 80%;
    margin: 80px auto;
}
.title
{
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126) ;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* .row .col img
{
    width: 87%;
    height: 350px;
    height: 40%;
} */
.row .col
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row
{
    margin-top: 50px;
}
h4
{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p
{
    color: #7c7c7c;
    padding: 0px 40px;
}
.events .ctn
{
    margin-top: 30px;
}

/* ============================= */
            /* Explore */
/* ============================= */
.explore
{
    width: 100%;
    height: 100vh;
    /* background-image: url('https://images.unsplash.com/photo-1519375142411-ea43691bed95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1516161786189-4c01a74daa94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
    /* background-image: url('https://images.unsplash.com/photo-1465311440653-ba9b1d9b0f5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1482146426705-433fc4949dbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
 
.explore-content
{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* transform: scaleX(-1); */
}
.explore-content h1
{
    font-size: 7vmin;
    margin: 50px;
}
.explore-content .line
{
    margin-bottom: 50px ;
    margin-top: -50px;
}
.explore-content p
{
    color: white;
}
.explore-content .ctn
{
    margin-top: 40px;
}
/* ============================= */
            /* Tours */
/* ============================= */
/* .tours .row .col
{
    width: 50%;
} */
.content-col
{
    width: 40%;
}
.image-col
{
    width: 60%;
}
.tours .image-gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.image-gallery img
{
    max-width: 300px;
    /* max-height: 200px; */
    margin: 10px;

}
.content-col h1
{
    font-size: 7vmin;
    color: #484872;
}
.content-col .line
{
    margin-left: 0px;
}
.content-col p
{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn
{
    margin-left: -380px;
}

/* ============================= */
            /* Tours */
/* ============================= */
.footer
{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p
{
    color: whitesmoke;
    margin: 20px auto;
    /* padding: 20px auto; */
}
/* mobile device */
@media only screen and (max-width:850px)
{
    p
    {
        text-align: justify;
    }
    /* navbar */
    .navbar
    {
        padding: 0;
    }
    .logo
    {
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .nav-links
    {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    
    .mobile-menu
    {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li
    {
        margin: 30px auto;
    }
    .menu-btn
    {
        display: block !important;
    }

    /* Events */
    .row
    {
        flex-direction: column;
    }
    .row .col
    {
        margin: 20px auto;
    }
    .col img
    {
        max-width: 90%;
    }

    /* Explore */
    .explore-content
    {
        width: 100%;
    }
    .explore-content h1
    {
        font-size: 5vmin;
        /* margin: 50px; */
    }
    /* Tours */
    .tours .col 
    {
        width: 100%;
    }
    /* .image-gallery img
    {

    } */
    .content-col .ctn
    {
        margin-left: 0px;
    }
    
    /* footer */
    .footer
    {
        padding: 10px;
    }

    .footer p
    {
        text-align: center;
    }
}

/* Animations */
img
{
    transition: transform .3s ease ;
}
img:hover
{
    transform: scale(1.1);
}
.ctn:hover
{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li a:hover
{
    color: #fc036b;
    cursor: pointer;
}